.auto-style1 {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin: 0 auto;
    float: left;
}

th {
    text-align: left;
    border: 1px solid;
    padding: 5px;
    padding-left: 10px;
}

td {
    text-align: left;
    border: 1px solid;
    padding: 5px;
    padding-left: 10px;
}

table {
    width: 100% !important;
    border: 1px solid;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 20px;
}

table1 {
    width: 100% !important;
    border: 0px solid;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 20px;
}

#background {
    position: center;
    z-index: 0;
    background: white;
    display: inline;
    height: 100%;
    width: 100%;
    color: yellow;
}


#bg-text
{
    color:#e6e6e6;
    font-size:80pt;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}
.auto-style2 {
}
