 .auto-style1 {
            width: 100%;
            border-style: solid;
           border-width: 1px;
           border-top: none;margin: 0 auto;float: left;
        }
        th {
            text-align: left;
            border: 1px solid;
            padding: 5px;
            padding-left: 10px;
            background: #ADD8E6;
        }
        td {
            text-align: left;
            border: 1px solid;
            padding: 5px;
            padding-left: 10px;
        }
        table {
            width: 100% !important;
            border: 1px solid;
            border-collapse: collapse;
            margin: 0;
            margin-bottom: 20px;
            
        }
        
        .auto-style2 {}