<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.bmc.com.BHOOMI_MRTC">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher_bhoomi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_bhoomi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".screens.AppLancher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ViewMutationStatusReport"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ShowMutationSummeryReport"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".screens.ViewMutationSummeryReport"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ShowMutationPendencyDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ShowMutationStatusDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.MutationPendencyDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ShowEnglishCertificateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.PacsWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.CommercialBankLoanAffidavitDoc"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.CommercialBankLoanReportDocActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.PacsLoanAffidavitView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.PacsLoanReportView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.BhoomiHomePage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ShowFullOwnerAllDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ShowRtcDetailsBYOwnerName"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.LandConversion"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.LandConversionBasedOnAffidavit"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.LandConversionBasedOnUserId"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.ViewRtcInformationByOwnerName"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".screens.RtcVerificationData"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.Bhoomi"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.ViewRtcInformation"
            android:label="@string/rtc_toolbartitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.ViewMutationStatusInformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.RtcDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.RtcVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.Language"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.Download_Conversion_order"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".screens.ConversionFinalOrders_BasedOnReq_ID"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".screens.Endorsement_ReportWebView"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".screens.RestrictionOnLand"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".screens.RestrictionOnLandReport"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>