<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.bmc.com.BHOOMI_MRTC">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher_bhoomi"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_bhoomi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowLoanWaiverReportPacsFarmerWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LoanWaiverReportForPacsFarmerWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowLoanWaiverPacsReportBranchWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LoanWaiverReportForPacsBranchWsie"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowLoanWaiverPacsReportBankWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LoanWaiverReportForPacsBankWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowLoanWaiverReportBranchWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LoanWaiverReportForCommercialBranchWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowLoanWaiverReportFarmerWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LoanWaiverReportForCommercialFramerWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowLoanWaiverReportBankWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ViewMutationStatusReport"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LoanWaiverReportForCommercialBankWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowMutationSummeryReport"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ViewMutationSummeryReport"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowMutationPendencyDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowMutationStatusDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.MutationPendencyDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ViewMapInPdfActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowVillageMapDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.DownloadVillageMap"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowPariharaBenificiaryDetailsLandWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PariharaBenificiaryReportLandWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowPariharaBenificiaryDetailsVlgWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PariharaBenificiaryReportVillageWise"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowIndividualPariharaDetailsReport"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PariharaDetailsIndividual"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowEnglishCertificateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PaymentBankCertificateDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PacsCertificateDataNotPresent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PacsWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PaymentCertifiacteDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.CommercialBankLoanAffidavitDoc"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.CommercialBankLoanReportDocActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PacsLoanAffidavitView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.PacsLoanReportView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ClwsStatusRationCardDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ClwsStatusDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.CitizenPaymentCertificateBanksActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.CitizenPaymentCertificatePacsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ClwsStatus"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.DashBoardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.BhoomiHomePage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowFullOwnerAllDetails"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ShowRtcDetailsBYOwnerName"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LandConversion"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LandConversionBasedOnAffidavit"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.LandConversionBasedOnUserId"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ViewRtcInformationByOwnerName"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="app.bmc.com.BHOOMI_MRTC.screens.AppLancher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.RtcVerificationData"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.Bhoomi"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ViewRtcInformation"
            android:label="@string/rtc_toolbartitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.ViewMutationStatusInformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.RtcDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.RtcVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.Language"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.bmc.com.BHOOMI_MRTC.screens.Download_Conversion_order"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>